<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-2">
                
                <h2>Login</h2>
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger col-sm-12"><%= message %></div>
                <% } %>
                <form class="container" method="POST" action="/login">
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Email Address" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">
                            <a href="/register" class="btn">Don't Have An Account? <br>Register Here</a>
                        </div>
                </form>
            </div>
        </div>
        </div>
    </div>
  </body>
</html>